<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <a href="/products">Back to Index Page</a>

    <form action="/products/<%=product._id%>?_method=PUT" method="POST">
        Name: <input type="text" name="name" value="<%product.name%>"/><br />
        Description: <input type="text" name="description" value="<%product.description%>"/><br />
        Image: <input type="text" name="image" value="<%product.image%>"/><br />
        Price: <input type="text" name="price" value="<%product.price%>"/><br />
        Quantity: <input type="text" name="quantity"value="<%product.quantity%>" /><br />
        <input type="submit"  value="Update" />
    </form>
</body>
</html>